In [5]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import feature_column
from tensorflow.keras import layers,callbacks
import matplotlib.pyplot as plt
pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format
tf.keras.backend.set_floatx('float32')
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer 
import keras_tuner
print("Modules has ben Imported!")

Modules has ben Imported!

In [17]:
df=pd.read_csv("train.csv",index_col=0)
df.shape
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.0,34.1,33.0,2474.0,472.0,1268.0,437.0,6.5,500001.0,INLAND
1,-117.9,33.6,37.0,2038.0,379.0,837.0,381.0,5.2,471300.0,<1H OCEAN
2,-122.3,37.6,43.0,2543.0,621.0,1301.0,606.0,3.1,318400.0,NEAR OCEAN

In [13]:
df.isnull().sum()   #Missing value

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        164
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [16]:
df["ocean_proximity"].value_counts()   #Categorical Data

<1H OCEAN     7377
INLAND        5226
NEAR OCEAN    2106
NEAR BAY      1798
ISLAND           5
Name: ocean_proximity, dtype: int64

In [6]:
x_train, x_rem, y_train, y_rem = train_test_split(X,Y, train_size=0.6,random_state=42)
print(f"train data shape: {x_train.shape} \nremaining data shape: {x_rem.shape}")
x_valid, x_test, y_valid, y_test = train_test_split(x_rem,y_rem, test_size=0.5,random_state=10)
print(f"validation data shape: {x_valid.shape} \ntest data shape: {x_test.shape}")

NameError: name 'X' is not defined